@charset "utf-8";
/* CSS Document */

img {
    opacity: 0.35;
    filter: alpha(opacity=35); /* For IE8 and earlier */
	width: 328px;
	height: 218.667px;
}

div.card {
    max-width: 30%;
    min-width: 200px;
}

div.card:hover {
    background-color: rgba(21,178,119,0.5);
    border: 1px solid green;
    transition: all .3s ease-in-out;
}